<div id="choice">
	
	<header id="header">
		<div class="grid">
			<h1 class="left">wanna ride</h1>
			<div class="clear"></div>
		</div>
	</header>
	
	<div id="topTitle">
		<div class="grid">
			<h2>Qu-est ce qui vous intéresse ?</h2>
			<span class="smallTitle">Sélectionnez les sports que vous aimez, vous pourrez toujours affiner vos choix plus tard.</span>
		</div>
	</div>
	
	<div id="choiceSports">
		<div class="grid">
			<div id="catSports">
																
			
			</div>

			<div id="interest">
				
				<div ng-repeat="sport in sports" class="interest left" >
					<div class="interestWrapper">
						<div ng-show="!sport.isCheck" ng-click="check(sport.id, $index)" class="selectCheck"></div>	
						<div ng-show="sport.isCheck"  ng-click="check(sport.id, $index)" class="selectCheck checked"></div>	

						<div class="interestImg" style="background-image: url(img/sports/bmx.jpg)"></div>
						<div class="interestLabel">
							<h2>{{sport.name}}</h2>
						</div>
					</div>
				</div>
																											
				<div class="clear"></div>
			</div>
		</div>
	</div>
	

	<ng-progress></ng-progress>


</div>